/EasyStartApp_project/.vs/EasyStartApp/DesignTimeBuild/.dtbcache
/EasyStartApp_project/.vs/EasyStartApp/v15/.suo
/EasyStartApp_project/EasyStartApp/EasyStartApp.jsproj
/EasyStartApp_project/EasyStartApp/EasyStartApp.jsproj.user
/EasyStartApp_project/EasyStartApp/simulation/app-host.js
/EasyStartApp_project/EasyStartApp/simulation/app-host.json
/EasyStartApp_project/EasyStartApp/simulation/sim-host.js
/EasyStartApp_project/EasyStartApp/simulation/sim-host.json
/EasyStartApp_project/EasyStartApp/bin/Android/Debug/VSBuildInfo.xml
/EasyStartApp_project/EasyStartApp/EasyStartApp.jsproj.user
/EasyStartApp_project/EasyStartApp/simulation/app-host.js
/EasyStartApp_project/EasyStartApp/simulation/app-host.json
/EasyStartApp_project/EasyStartApp/simulation/sim-host.js
/EasyStartApp_project/EasyStartApp/simulation/sim-host.json
/EasyStartApp_project/EasyStartApp/simulation/app-host.js
/EasyStartApp_project/EasyStartApp/simulation/app-host.json
/EasyStartApp_project/EasyStartApp/simulation/sim-host.js
/EasyStartApp_project/EasyStartApp/simulation/sim-host.json
