@font-face {
    font-family: "SFNSDisplay-Ultralight";
    src: url("../fonts/SFUIDisplay-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: 'SFNSDisplay-Ultralight', 'Lucida Console';
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    font-weight: 100;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a
.ui-panel-wrapper {
    text-shadow: none;
}

#logo-load {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #logo-load img {
        width: 100%
    }

div[data-role=page] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.page-color {
    color: #ffffff;
}

.page-background-color {
    background-color: #000000;
}

.color-dark {
    color: #777777;
}

.header {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid #403c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.2em;
}

    .header i {
        margin-right: 7px;
        font-size: 0.85em;
    }

.header-color {
    color: #ffffff;
}

.content {
    width: 100%;
    height: 81%;
    border-bottom: 1px solid #1f1e1e;
    position: relative;
}

.footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 0.9em;
    padding-top: 1%;
}

    .footer a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #777777;
        display: flex;
        font-weight: inherit;
    }

        .footer a:visited,
        .footer a:active,
        .footer a:hover {
            color: inherit;
        }

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

    .footer-item i {
        font-size: 1.3em;
        margin-bottom: 5px;
    }

.active {
    color: #ffffff;
}

.first-page-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.9em;
    border-bottom: 1px solid #1f1e1e;
}

    .first-page-header i {
        margin-right: 10px;
        font-size: 0.8em;
    }

.first-page-content {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #1f1e1e;
}

.first-page-footer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

    .first-page-footer button {
        width: 85%;
        height: 56%
    }

#firstStartSettingCity button,
#firstStartSettingPhone button,
#product button,
#basket button {
    text-shadow: none;
    font-weight: normal;
    font-size: 1.3em;
    border-radius: 2px;
    border: none;
}

    #firstStartSettingCity button:focus,
    #firstStartSettingPhone button:focus,
    #product button:focus,
    #basket button:focus {
        box-shadow: none;
        outline: none;
    }

#firstStartSettingCity .background-color-button,
#firstStartSettingPhone .background-color-button,
#product .background-color-button,
#basket .background-color-button {
    background-color: limegreen;
}

#basket .background-color-remove-product-button {
    background-color: #000000;
}

    #firstStartSettingCity .color-button,
    #firstStartSettingPhone .color-button,
    #product .color-button,
    #basket .color-button {
        color: #ffffff;
    }

#firstStartSettingPhone .ui-input-text {
    width: 65%;
    background: none;
    border: none;
    box-shadow: none;
}

#firstStartSettingPhone input[type=text] {
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #777777;
    background: none;
    text-shadow: none;
    color: #ffffff;
    text-align: center;
    font-size: 1.4em;
}

    #firstStartSettingPhone input[type=text]:focus {
        box-shadow: none;
    }

.city-list {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.city-list-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    position: relative;
    padding: 1.2%;
}

.active-city-item {
    transition: 200ms ease-in;
    transform: scale(1.2);
}


.categories,
.products {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.category,
.product {
    width: 90%;
    min-height: 31vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 5%;
    padding-top: 5%;
}

.product {
    height: auto;
    min-height: 20%;
}

.product-basket {
    width: 95%;
    height: auto;
    min-height: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 1%;
}

.basket-product-main-info {
    width: 91%;
    height: auto;
    min-height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 4%;
    padding-top: 2%;
}

.basket-product-price {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 10%;
    padding-right: 3%;
}

.category-content {
    margin-left: 5%;
    padding-top: 1%;
    word-break: break-word;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.1em;
    align-self: flex-start;
}

.product-content,
.basket-product-content {
    margin-left: 5%;
    word-break: break-word;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1em;
    border-bottom: 1px solid #403c3c;
    align-self: flex-start;
}

.basket-product-content {
    border-bottom: none;
}

    .category-image,
    .product-image,
    .basket-product-image {
        width: 30vw;
        height: calc(30vw * 0.9195);
        display: flex;
        align-self: flex-start;
    }

    .category-image img,
    .product-image img,
    .basket-product-image img{
        width: 100%;
        border-radius: 4px;
    }

.product-buy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 3%;
}

#product button,
#basket button {
    width: 8vw;
    height: 8vw;
    font-size: calc( (100vw - 1080px)/(1920 - 1080) * (24 - 20) + 20px);
    padding: 0;
    margin: 0;
    border-radius: 3px;
}

#basket button {
    border: 1px solid #777777;
    font-size: 1.15em;
}

.product-addition-info,
.basket-product-addition-info {
    width: 100%;
    min-height: 20px;
    padding-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8em;
}

.product-price {
    width: 50%;
    height: 10vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-add-basket {
    width: 45%;
}

.product-remove-basket {
    width: 20%;
}

.product-add-basket-btn,
.product-remove-basket-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.product-header,
.basket-product-header {
    width: 100%;
    height: auto;
    min-height: 20px;
}

.product-full-info {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(93, 88, 88, 0.77);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-full-info-container {
    width: 90%;
    height: 85%;
    overflow-x: hidden;
}

.product-full-info-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 3px;
}

.product-full-info-image {
    width: 100%;
    height: 61%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
}

.product-full-info-text {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1em;
}

.product-full-info-header {
    min-height: 20%;
    margin: 3% 3% 0% 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.15em;
}

.product-full-info-adition {
    min-height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3% 3% 0 3%;
    font-size: 0.9em;
}

.product-full-info-price {
    margin: 3% 3% 0% 3%;
    display: flex;
    justify-content: flex-end;
}

.product-full-info-description {
    border-top: 1px solid #403c3c;
    height: auto;
    word-break: break-word;
    margin: 3% 3% 3% 3%;
    padding-top: 5%;
    padding-bottom: 5px;
    font-size: 0.95em;
}

.full-info-close {
    position: fixed;
    top: 9%;
    right: 10%;
    font-size: 2em;
    color: #cccccc;
}

.hide {
    display: none !important;
}

.add-basket-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #2d394a;
    border-radius: 3px;
    min-width: 95px;
}

.basket-counter-button {
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #405169;
    border-radius: 3px;
    font-size: 1em;
    padding: 2%;
}

.basket-counter-value {
    font-size: 0.85em;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center
}

.basket-count-info {
    position: absolute;
    top: 11%;
    right: -15%;
    background-color: #777777;
    color: #ffffff;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 0.65em;
}

.basket-product-price {
    border-bottom: 1px solid #403c3c;
    padding-bottom: 1%;
}

.basket-product-multi-price {
    width: 30%;
    padding-left: 7%;
    padding-top: 2%;
}

.basket-product-sum-price {
    padding-bottom: 5px;
}

.basket-product-detail-price {
    font-size: 0.8em;
}